@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BGT';
    src: url('../../fonts/BGOTHM.ttf');
    font-weight: 100;
    }


    @layer components {

        html{
            @apply font-Somewhere
        
        }
        .menu-item {
            @apply flex justify-center pb-2 px-[10px] font-[100] text-4xl py-1 lg:py-0 lg:text-[16px] hover:text-[#00FF32] cursor-pointer md:hover:text-[18px] duration-150
        }
        .icon-footer {
            @apply w-[50px] h-full cursor-pointer py-3 px-2
        }
        
        .footer-data {
            @apply hover:fill-red-900 w-[0px] h-[100px] overflow-hidden

    }
}
